<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
		</layout>
	</appender>

    <!--appender name="sns" class="de.newsarea.homecockpit.fsuipc2http.log4j.SnsSyncAppender">
        <param name="TopicARN" value="arn:aws:sns:us-east-1:112626959872:fsuipc2net-logging" />
        <param name="Threshold" value="ERROR" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        </layout>
    </appender-->

    <appender name="logPanel" class="de.newsarea.homecockpit.fsuipc2http.log4j.JPanelSyncAppender">
        <param name="Threshold" value="INFO" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        </layout>
    </appender>

	<!-- Root Logger -->
	<root>
		<priority value="INFO" />
		<appender-ref ref="console" />
        <!--appender-ref ref="sns" -/-->
        <appender-ref ref="logPanel" />
	</root>

</log4j:configuration>
